<% provide(:title, "All Courses") %>
<h1>Courses</h1>

<ul class="courses">
  <% current_user.trainee_courses.each do |trainee_course| %>
    <li>
      <% course = trainee_course.course %>
      <div><%= link_to course.name, user_trainee_course_path(current_user, trainee_course) %></div>
    </li>
  <% end %>
</ul>